/************************ SELETOR UNIVERSAL ************************/

/*
 * {
    border: 1px solid red;
}
 */

/*** Este seletor aplica caracteristicas a toda a pagina ***/


/************************ SELETOR DE TEXTO  ************************/

/*
p {
    border: 1px solid red;
    color: brown;
}
*/

/*** Este seletor seleciona elementos especificos do site, podendo
definir caracteristicas a eles. ***/


/************************ SELETOR DE CLASSE ************************/

/*
.verde {
    color: green;
}
*/
/*** cria uma classe podendo adicionar varias propiedades a
uma ou mais tags da pagina. ***/

/*
p.verde {
    color: green;
}
*/

/*** Esta classe tem o mesmo principio, porem, ela define
uma tag especifica aonde somente nesta tag esta classe ira funcionar
ou seja, mesmo que você utilize a classe acima em varias tags, 
as propiedades definidas so serão aplicadas nas tags <p> ***/


/************************ SELETOR DE ID ************************/

/*
#verde {
    color: green;
}
*/

/*** cria um id, que contem caracteristicas e propiedades que
podem ser aplicadas a uma determinada TAG da sua pagina, podendo
ser utilizado apenas uma vez. ***/


<<<<<<< HEAD
/************************ SELETOR DE FILHO ************************/

/*
li>a {
    color: green;
}
*/

/*** Cria caracteristicas para um elemento que é filho direto de outro.
No exemplo acima, temos: li maior que a,isso deve ser lido da seguinte forma:
o elemento a que é filho do elemento li, a leitura sempre deve iniciar do final, sendo o 
ultimo seletor a tag filho. ***/


/************************ SELETOR DE DESCENDENTE ************************/

/*
div a {
    color: green;
}
*/

/*** Adiciona caracteristicas a todos os elementos descendentes especificados, dentro do elemento pai
que foi colocado. No exemplo acima, temos uma cor adicionada a todos os links que sejam descendentes da
div ***/


/************************ SELETOR DE IRMÃO ADJACENTE ************************/

/*
span+p {
    color: green;
}
*/

/*** Adiciona caracteristicas a um elemento irmão adjacente de outro. Ou seja, o elemento
posterior mais proximo de outro. No exemplo acima, dizemos que o irmão adjacente de span é o primeiro
paragrafo posterior a ele. ***/


/************************ SELETOR DE IRMÃO GERAL ************************/

span~p {
    color: green;
}

/*** Semelhante ao seletor acima, este seletor seleciona o irmão geral de um determinado elemento.
Ou seja, todos os elementos iguais que forem irmãos de um determinado outro elemento e estiverem
dentro de um mesmo elemento pai. 
No exemplo acima, definimos que queremos aplicar uma propiedade a todos os paragrafos que forem 
irmãos de span, ou seja, todos os paragrafos que estiverme no mesmo elemento pai de span e que vinherem
apos ele. ***/



/****
COMO REMOVER BOLINHAS DE UMA LISTA NÃO ORDENADA
***/

#estiloLista {
    list-style-type: none;
}
=======

>>>>>>> 215ec5b (atualizado)
